In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import time
import re

In [24]:
df = pd.read_csv('Indeed_Salaries.csv')

In [25]:
df.head(100)

,Lien,Poste,Entreprise,Localisation,Salaire,Description
0,https://fr.indeed.com/viewjob?jk=5b2e4528626a2c37,Ingénieur-e données,INRAE,37380 Nouzilly,NaN,RÉFÉRENCE DE L'OFFRE\nN° profil : IE22-DISO-1\...
1,https://fr.indeed.com/viewjob?jk=a25ddcc7a0af8396,Ingénieur-e données,il y a 1 jour,Nouzilly (37),NaN,"Acteur majeur de la recherche publique, INRAE ..."
2,https://fr.indeed.com/viewjob?jk=ba5c2f88b0176120,TECHNICIEN EN GESTION DE DONNEES TECHNIQUES SA...,Interaction,41500 Mer,NaN,Votre mission :\n\nL'agence INTERACTION ORLEAN...
3,https://fr.indeed.com/viewjob?jk=d1fa73c363aa27d0,Master Data Specialist / Spécialiste Base Arti...,Apec.fr,Beaune-la-Rolande (45),NaN,Master Data Specialist / Spécialiste Base Arti...
4,https://fr.indeed.com/viewjob?jk=6f7788bc07e79181,Gestionnaire de Base de Données (h/f),Adecco,37300 Joué-lés-Tours,NaN,Votre mission\n Adecco Tours Tertiaire recherc...
...,...,...,...,...,...,...
95,https://fr.indeed.com/viewjob?jk=77f7cba3dbf84aec,Développeur bi - chef de projet data h/f,Keljob,37200 Tours,NaN,Intégré au sein de la DSI et en collaboration ...
96,https://fr.indeed.com/viewjob?jk=64b77218b3eaadca,Ingénieur Data - Big Data - Banque - Île-de-Fr...,Sopra Steria,Télétravail temporaire,NaN,"Sopra Steria, l'un des leaders européens du co..."
97,https://fr.indeed.com/viewjob?jk=cd63a920e41752b1,Gestionnaire données techniques H/F,LesJeudis.com,18000 Bourges,40 000 € par an,"Hays Technology recherche pour son client, un ..."
98,https://fr.indeed.com/viewjob?jk=0917709a71688dfa,"Data Scientist (h/f), Tours",Adecco,Tours (37),45 000 € par an,Votre mission\nA la recherche de nouvelles aff...
99,https://fr.indeed.com/viewjob?jk=14ba9f3c4d7a05e6,Data Analyst (F/M/X) - CDI,Jellysmack,France,NaN,Jellysmack is the global creator company that ...

In [47]:
cdi = []
cdd = []
interim = []
alternant = []
stage = []



for k in df.index:
    if cdi.append(((re.findall(r"CDI",df['Description'][k], re.IGNORECASE)))):
    elif cdd.append((len(re.findall(r"INTERIM",df['Description'][k], re.IGNORECASE))))
    else: append(NaN)
        
        #elif cdd.append((len(re.findall(r"INTERIM",df['Description'][k], re.IGNORECASE)))):
    
    #elif interim.append((len(re.findall(r"ALTERNANT",df['Description'][k], re.IGNORECASE)))):
    
    #elif alternant.append((len(re.findall(r"CDD",df['Description'][k], re.IGNORECASE)))):
    
    #elif stage.append((len(re.findall(r"STAGE",df['Description'][k], re.IGNORECASE)))):
    
    #else append(NaN)

#print(pd.Series(type_contrat).value_counts())
df['cdi'] = pd.Series(cdi)
df['interim'] = pd.Series(interim)
#df['cdd'] = pd.Series(cdd)
#df['alternant'] = pd.Series(alternant)
#df['stage'] = pd.Series(stage)
df.head()

IndentationError: expected an indented block (Temp/ipykernel_6916/3926157232.py, line 11)

In [49]:
m = re.match(r"(\w+) (\w+)", "Isaac Newton, physicist")
m[0]

'Isaac Newton'

In [50]:
m[1]

'Isaac'