In [11]:
import csv
from datetime import datetime
import requests
from bs4 import BeautifulSoup
import pandas as pd
import math
import re
import numpy as np

## Test de récupération des intitulés des offres

In [13]:
#Fonction de récupération de l'URl de la recherche à partir du motif et de la localisation de la recherche
def get_url(job, location):
    """Generate an URL from Job and Location"""
    template = 'https://fr.indeed.com/jobs?q={}&l={}&sort=date&filter=0'
    url = template.format(job, location)
    return(url)

In [14]:
#test de la fonction get_url()
url = get_url('Data', 'Bretagne')
url

'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0'

# Liens

In [15]:
#Fonction générant la liste des liens des offres à partir d'un mot-clé et d'une localisation
def generate_page_url(Query, Location, Pages):
    '''
    Parameters
    ----------
    Query : Str
        Motif de la recherche
    Location : Str
        Localisation de la recherche

    Returns
    -------
    Liste d'url contenant la liste des pages issues de la recherche'

    '''
    home_url = []
    base_url = get_url(Query, Location)
    
    #soup = BeautifulSoup((requests.get(base_url)).text, 'html.parser')
    #Pages = round(int(soup.find(id="searchCountPages").get_text().split()[3])/10)
    
    for k in range(0, Pages):
        home_url.append(base_url + '&start=' + str(k*10))
    
    return(home_url)

In [7]:
#test de la fonction generate_page_url()
liste_url = generate_page_url('Data', 'Bretagne', 15)
liste_url

['https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=0',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=10',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=20',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=30',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=40',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=50',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=60',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=70',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=80',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=90',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=100',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=110',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=120',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=130',
 'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0&start=140']

In [16]:
#Test de la récupération des IDs sur la "home page"
response = requests.get(liste_url[0])
soup = BeautifulSoup(response.text, 'html.parser')
card = soup.find_all('a')
id = []
for k in card:
    if 'data-jk' in k.attrs:
        id.append(k.attrs['data-jk'])
len(id), id

(15,
 ['dcee9ca24d0ea05e',
  'dc481509bbff9dd1',
  'a30e3e863f9b3a13',
  '34f5f637a1c4f830',
  '87e0a564d9190aa2',
  'de14d959d9b11394',
  'a25ddcc7a0af8396',
  '5897aa5ebf49f79e',
  '6395906f259aa1ee',
  '8c8000b23d3db1fa',
  '98f347d4fe23991d',
  '3bd3eff7dc148e9c',
  '076f202622c9a55a',
  '4086d6889d9f474e',
  '5b2e4528626a2c37'])

In [16]:
#Fonction de récupération des URLs individuelles à partir des URLs de la "home page"
def recup_urls(home_url):
    '''
    Parameters
    ----------
    home_url : List
        Liste contenant les URLs issues de la recherche dont l'on souhaite obtenir les URLs 
        individuelles des offres'
    Returns
    -------
    Liste contenant les URLs individuelles des offres à scraper.
    '''
    LINKS = []
    
    for URL in home_url:
        response = requests.get(URL)    
        card = BeautifulSoup(response.text, 'html.parser').find_all('a')
        for k in card:
            if 'data-jk' in k.attrs:
                link = 'https://fr.indeed.com/viewjob?jk=' + (k.attrs['data-jk']) 
                if link not in LINKS:
                    LINKS.append(link)
    return(LINKS)

In [9]:
liste_url = generate_page_url('Data', 'Bretagne', 15)
job_url = recup_urls(liste_url)
job_url, len(job_url)

(['https://fr.indeed.com/viewjob?jk=a3763118f568bb47',
  'https://fr.indeed.com/viewjob?jk=1fc396ebaa40f018',
  'https://fr.indeed.com/viewjob?jk=628dad10f0b41ec3',
  'https://fr.indeed.com/viewjob?jk=42667addc9f51a30',
  'https://fr.indeed.com/viewjob?jk=fbfe177a68a56211',
  'https://fr.indeed.com/viewjob?jk=31a579d025aef21c',
  'https://fr.indeed.com/viewjob?jk=6ed2235293cd8ab0',
  'https://fr.indeed.com/viewjob?jk=fbfa9624b1e57e37',
  'https://fr.indeed.com/viewjob?jk=3101f63e84041aa5',
  'https://fr.indeed.com/viewjob?jk=85445d27987689f0',
  'https://fr.indeed.com/viewjob?jk=3f2405722725e7a4',
  'https://fr.indeed.com/viewjob?jk=c69cb94587ad5e9b',
  'https://fr.indeed.com/viewjob?jk=98fcca18465604c2',
  'https://fr.indeed.com/viewjob?jk=216f3d1ea4f8d82f',
  'https://fr.indeed.com/viewjob?jk=9d3cc340eacb0ffc',
  'https://fr.indeed.com/viewjob?jk=5289c94d4e27d8c7',
  'https://fr.indeed.com/viewjob?jk=e3d0175ad0c4f248',
  'https://fr.indeed.com/viewjob?jk=41673e03f1d87f68',
  'https://fr.indeed.com/viewjob?jk=db121b456eb5b1f9',
  'https://fr.indeed.com/viewjob?jk=b6d931409262db0d',
  'https://fr.indeed.com/viewjob?jk=8ca5f7483d913ebe',
  'https://fr.indeed.com/viewjob?jk=5d4a5fbce4d1ba7c',
  'https://fr.indeed.com/viewjob?jk=f1f9f79d7d2368c9',
  'https://fr.indeed.com/viewjob?jk=107168ec9a5d40d2',
  'https://fr.indeed.com/viewjob?jk=49a24790fe62ff79',
  'https://fr.indeed.com/viewjob?jk=9b8f0d76269f22ad',
  'https://fr.indeed.com/viewjob?jk=51f6387565800345',
  'https://fr.indeed.com/viewjob?jk=ddab183bad321a61',
  'https://fr.indeed.com/viewjob?jk=9702f478ef9832e8',
  'https://fr.indeed.com/viewjob?jk=7390e895e76fe512',
  'https://fr.indeed.com/viewjob?jk=e1dadc8255976c31',
  'https://fr.indeed.com/viewjob?jk=4a719cb295b85028',
  'https://fr.indeed.com/viewjob?jk=6cae9a9e528ac89a',
  'https://fr.indeed.com/viewjob?jk=8ed2ebb87777ce67',
  'https://fr.indeed.com/viewjob?jk=1ced82dfe05dbcfe',
  'https://fr.indeed.com/viewjob?jk=9f7e66a52c397683',
  'https://fr.indeed.com/viewjob?jk=f7b246ad3f8c00f2',
  'https://fr.indeed.com/viewjob?jk=0d1d288fc873730e',
  'https://fr.indeed.com/viewjob?jk=d9a193eda0cb6958',
  'https://fr.indeed.com/viewjob?jk=c34e1fab46581bc4',
  'https://fr.indeed.com/viewjob?jk=ceb24dabd704e429',
  'https://fr.indeed.com/viewjob?jk=ea164757559a5ae4',
  'https://fr.indeed.com/viewjob?jk=7869e02a8c0e590d',
  'https://fr.indeed.com/viewjob?jk=53ce861042ab8f74',
  'https://fr.indeed.com/viewjob?jk=98879f67e9e540ee',
  'https://fr.indeed.com/viewjob?jk=a5ad6c5f2f5a094d',
  'https://fr.indeed.com/viewjob?jk=26ba160530ebd95e',
  'https://fr.indeed.com/viewjob?jk=2679319be8aedc22',
  'https://fr.indeed.com/viewjob?jk=99b5dc6518972fd8',
  'https://fr.indeed.com/viewjob?jk=82c258630707b2f4',
  'https://fr.indeed.com/viewjob?jk=1fd9875feb0d7eea',
  'https://fr.indeed.com/viewjob?jk=a11c783de0a2e0f5',
  'https://fr.indeed.com/viewjob?jk=c1cc1eb8061fe0b1',
  'https://fr.indeed.com/viewjob?jk=9e73eb4072bddba2',
  'https://fr.indeed.com/viewjob?jk=5d43b93867126692',
  'https://fr.indeed.com/viewjob?jk=78fb6f1fbf36b95d',
  'https://fr.indeed.com/viewjob?jk=7e08cf52c8e616bf',
  'https://fr.indeed.com/viewjob?jk=64fc180982288377',
  'https://fr.indeed.com/viewjob?jk=89e0cafeed83d2d6',
  'https://fr.indeed.com/viewjob?jk=d22e87bae32fcb65',
  'https://fr.indeed.com/viewjob?jk=568d2a5843bd1134',
  'https://fr.indeed.com/viewjob?jk=60cd48b70860aacd',
  'https://fr.indeed.com/viewjob?jk=971e9338ccbc5571',
  'https://fr.indeed.com/viewjob?jk=cae0c9677ef3ddf0',
  'https://fr.indeed.com/viewjob?jk=8d41ffb1f7c8561b',
  'https://fr.indeed.com/viewjob?jk=0986544a10dc5113',
  'https://fr.indeed.com/viewjob?jk=36f77a055da8e8ba',
  'https://fr.indeed.com/viewjob?jk=555c667348627706',
  'https://fr.indeed.com/viewjob?jk=4337141587a5ec93',
  'https://fr.indeed.com/viewjob?jk=bbb9537edaf80c90',
  'https://fr.indeed.com/viewjob?jk=64c4f03ef5f710f0',
  'https://fr.indeed.com/viewjob?jk=4fcdb84dde97a247',
  'https://fr.indeed.com/viewjob?jk=8681d5fcf8fa9bfa',
  'https://fr.indeed.com/viewjob?jk=b56f10d1c7498f95',
  'https://fr.indeed.com/viewjob?jk=b92f2156785dff7e',
  'https://fr.indeed.com/viewjob?jk=ab71d98103133fe5',
  'https://fr.indeed.com/viewjob?jk=6ed748710142b888',
  'https://fr.indeed.com/viewjob?jk=837f27f9e27468cb',
  'https://fr.indeed.com/viewjob?jk=7cb02ee956eb64b8',
  'https://fr.indeed.com/viewjob?jk=b16b125566ecefd0',
  'https://fr.indeed.com/viewjob?jk=5185604000fd1a38',
  'https://fr.indeed.com/viewjob?jk=924b37a3e3784399',
  'https://fr.indeed.com/viewjob?jk=80805e8fb51aec59',
  'https://fr.indeed.com/viewjob?jk=7b1687771c7fd7ef',
  'https://fr.indeed.com/viewjob?jk=8c5aee28f2cdbdef',
  'https://fr.indeed.com/viewjob?jk=03ba243d3d95ba74',
  'https://fr.indeed.com/viewjob?jk=243772285386ec11',
  'https://fr.indeed.com/viewjob?jk=788e678111c746fe',
  'https://fr.indeed.com/viewjob?jk=b11a129c84d58341',
  'https://fr.indeed.com/viewjob?jk=3566087283e107ad',
  'https://fr.indeed.com/viewjob?jk=45e91f356f883859',
  'https://fr.indeed.com/viewjob?jk=4f08b16118594ca4',
  'https://fr.indeed.com/viewjob?jk=a9b6624e8a36873c',
  'https://fr.indeed.com/viewjob?jk=79f0ac1acf733b1b',
  'https://fr.indeed.com/viewjob?jk=081d6deefb55f3c1',
  'https://fr.indeed.com/viewjob?jk=d1056fd92740420a',
  'https://fr.indeed.com/viewjob?jk=20784359d818975d',
  'https://fr.indeed.com/viewjob?jk=e93037bfef2db44a',
  'https://fr.indeed.com/viewjob?jk=7522d4fc73d92e1b',
  'https://fr.indeed.com/viewjob?jk=a9344685fd39d462',
  'https://fr.indeed.com/viewjob?jk=19afb09111e03b0c',
  'https://fr.indeed.com/viewjob?jk=35e36a8715fbf551',
  'https://fr.indeed.com/viewjob?jk=180ad0db22f7dab1',
  'https://fr.indeed.com/viewjob?jk=587f6395d3d64e26',
  'https://fr.indeed.com/viewjob?jk=84d5d637c10dc8b3',
  'https://fr.indeed.com/viewjob?jk=5c49a7ab7707eb7c',
  'https://fr.indeed.com/viewjob?jk=9b6961156bfa46a2',
  'https://fr.indeed.com/viewjob?jk=13fe4809909ff272',
  'https://fr.indeed.com/viewjob?jk=227b63c71c6b9594',
  'https://fr.indeed.com/viewjob?jk=41d8eb1dc3cbeac3',
  'https://fr.indeed.com/viewjob?jk=4bc6f204f25242c2',
  'https://fr.indeed.com/viewjob?jk=f3e151e9d680f87f',
  'https://fr.indeed.com/viewjob?jk=654e785aa6ce4f18',
  'https://fr.indeed.com/viewjob?jk=1f9812982acf3010',
  'https://fr.indeed.com/viewjob?jk=25662c23aa06e0b7',
  'https://fr.indeed.com/viewjob?jk=5155d6610019831f',
  'https://fr.indeed.com/viewjob?jk=85e905da6e393129',
  'https://fr.indeed.com/viewjob?jk=59773791716e9d7b',
  'https://fr.indeed.com/viewjob?jk=eee70a3ebe513523',
  'https://fr.indeed.com/viewjob?jk=2d3b33dd7e7a54be',
  'https://fr.indeed.com/viewjob?jk=0802d3ef2ad73c04',
  'https://fr.indeed.com/viewjob?jk=893381b6ebd0a8c6',
  'https://fr.indeed.com/viewjob?jk=97f874a71eff641a',
  'https://fr.indeed.com/viewjob?jk=afbb0190f6afddab',
  'https://fr.indeed.com/viewjob?jk=673d0acb817036d2',
  'https://fr.indeed.com/viewjob?jk=38908251b629cd44',
  'https://fr.indeed.com/viewjob?jk=bacd8608f9b089fa',
  'https://fr.indeed.com/viewjob?jk=7afa3a8fcb42bfd4',
  'https://fr.indeed.com/viewjob?jk=9b1037e23fec309a',
  'https://fr.indeed.com/viewjob?jk=bd58b0e97a3a676f',
  'https://fr.indeed.com/viewjob?jk=2ca144c0223c860c',
  'https://fr.indeed.com/viewjob?jk=4282013a065521e6',
  'https://fr.indeed.com/viewjob?jk=96b3ae450696f3df',
  'https://fr.indeed.com/viewjob?jk=a2f854e61bb7d77d',
  'https://fr.indeed.com/viewjob?jk=01cc9a106f36fba9',
  'https://fr.indeed.com/viewjob?jk=58f308ba8b206a85',
  'https://fr.indeed.com/viewjob?jk=9dc5a0858a18288d',
  'https://fr.indeed.com/viewjob?jk=98d597cf86db7441',
  'https://fr.indeed.com/viewjob?jk=633d8863bf5d5661',
  'https://fr.indeed.com/viewjob?jk=89e13c8e3886baf0',
  'https://fr.indeed.com/viewjob?jk=6794df5cc45e3b40',
  'https://fr.indeed.com/viewjob?jk=53a8f9707b77c8f1',
  'https://fr.indeed.com/viewjob?jk=7372933a1848e28b',
  'https://fr.indeed.com/viewjob?jk=c5b3d3159aef994c',
  'https://fr.indeed.com/viewjob?jk=28dc333557c6a268',
  'https://fr.indeed.com/viewjob?jk=909955f2f8be28f0',
  'https://fr.indeed.com/viewjob?jk=e6d00e610e170de1',
  'https://fr.indeed.com/viewjob?jk=c78e4b002b25ee60',
  'https://fr.indeed.com/viewjob?jk=f3ccb5e2ddd88476',
  'https://fr.indeed.com/viewjob?jk=b1395c261b097f0d',
  'https://fr.indeed.com/viewjob?jk=b072ae1032db0121',
  'https://fr.indeed.com/viewjob?jk=fe646b1573718164',
  'https://fr.indeed.com/viewjob?jk=2a798c45184cc890',
  'https://fr.indeed.com/viewjob?jk=b9d4eccd0253b887',
  'https://fr.indeed.com/viewjob?jk=432f25027f20ab31',
  'https://fr.indeed.com/viewjob?jk=c84d547c8aef6a73'],
 156)

In [17]:
#Récupération empirique des liens pour compenser les problèmes de liens manquants (A ne pas apeller)
def recup_emp():
    links = []
    nlinks = []

    for k in range(25):
        links += recup_urls()
        links = list(dict.fromkeys(links))
        nlinks.append(len(links))
    print(len(links), links, nlinks)

In [18]:
#Fonction récupérant les données Titre, Type de Contrat, Entreprise, Localisation, Region, Salaire et Description
def scrap_job(link_list, region):
    """
    Parameters
    ----------
    link_list : list
        Liste de str contenant la liste des liens individuels des différentes offres du site

    Returns
    -------
    df : Pandas.Dataframe
        Dataframe composé des champs Lien, Titre, Entreprise, Type de contrat, Localisation,
        Region, Salaire et Description.
    """
    titre = []
    typecontrat = []
    entreprise = []
    localisation = []
    lregion = []
    salaire = []
    description = []
    
    
    
    for k, link in enumerate(link_list):
        print('Lien ', k+1,'sur ', len(link_list))
        
        response = requests.get(link)    
        soup = BeautifulSoup(response.text, 'html.parser')
        
        try:titre.append(soup.find('h1').get_text())
        except:titre.append('NA')    
        
        try: typecontrat.append(soup.find('span', 'jobsearch-JobMetadataHeader-item icl-u-xs-mt--xs').get_text())
        except : typecontrat.append('NA')

        try:entreprise.append(soup.find_all("div", "icl-u-lg-mr--sm icl-u-xs-mr--xs")[1].get_text())
        except:entreprise.append('NA')
            
        try:localisation.append(soup.find('div','icl-u-xs-mt--xs icl-u-textColor--secondary jobsearch-JobInfoHeader-subtitle jobsearch-DesktopStickyContainer-subtitle').find_all('div')[-2].get_text())
        except:localisation.append('NA')
        
        try : lregion.append(region)
        except : lregion.append('NA')
        
        try: salaire.append(soup.find('span', 'icl-u-xs-mr--xs attribute_snippet').get_text())
        except:salaire.append('NA')
        
        try: description.append(soup.find(id="jobDescriptionText").get_text())
        except:description.append('NA')
     
    Lien = pd.Series(link_list)
    Titre = pd.Series(titre)
    TypeContrat = pd.Series(typecontrat)
    Entreprise = pd.Series(entreprise)
    Localisation = pd.Series(localisation)
    Region = pd.Series(lregion)
    Salaire = pd.Series(salaire)
    Description = pd.Series(description)
    
    
    
    frame = {'Lien': Lien,
             'Poste': Titre,
             'Typedecontrat':TypeContrat,
             'Entreprise': Entreprise,
             'Departement':Localisation,
             'Region' : Region,
             'Salaire':Salaire,
             'Description':Description}
    
    df = pd.DataFrame(frame)
    return(df)

In [11]:
#Récupération des données de la Bretagne.
df2 = scrap_job(job_url, 'Bretagne')
df2.head()

Lien  1 sur  156
Lien  2 sur  156
Lien  3 sur  156
Lien  4 sur  156
Lien  5 sur  156
Lien  6 sur  156
Lien  7 sur  156
Lien  8 sur  156
Lien  9 sur  156
Lien  10 sur  156
Lien  11 sur  156
Lien  12 sur  156
Lien  13 sur  156
Lien  14 sur  156
Lien  15 sur  156
Lien  16 sur  156
Lien  17 sur  156
Lien  18 sur  156
Lien  19 sur  156
Lien  20 sur  156
Lien  21 sur  156
Lien  22 sur  156
Lien  23 sur  156
Lien  24 sur  156
Lien  25 sur  156
Lien  26 sur  156
Lien  27 sur  156
Lien  28 sur  156
Lien  29 sur  156
Lien  30 sur  156
Lien  31 sur  156
Lien  32 sur  156
Lien  33 sur  156
Lien  34 sur  156
Lien  35 sur  156
Lien  36 sur  156
Lien  37 sur  156
Lien  38 sur  156
Lien  39 sur  156
Lien  40 sur  156
Lien  41 sur  156
Lien  42 sur  156
Lien  43 sur  156
Lien  44 sur  156
Lien  45 sur  156
Lien  46 sur  156
Lien  47 sur  156
Lien  48 sur  156
Lien  49 sur  156
Lien  50 sur  156
Lien  51 sur  156
Lien  52 sur  156
Lien  53 sur  156
Lien  54 sur  156
Lien  55 sur  156
Lien  56 sur  156
Lien  57 sur  156
Lien  58 sur  156
Lien  59 sur  156
Lien  60 sur  156
Lien  61 sur  156
Lien  62 sur  156
Lien  63 sur  156
Lien  64 sur  156
Lien  65 sur  156
Lien  66 sur  156
Lien  67 sur  156
Lien  68 sur  156
Lien  69 sur  156
Lien  70 sur  156
Lien  71 sur  156
Lien  72 sur  156
Lien  73 sur  156
Lien  74 sur  156
Lien  75 sur  156
Lien  76 sur  156
Lien  77 sur  156
Lien  78 sur  156
Lien  79 sur  156
Lien  80 sur  156
Lien  81 sur  156
Lien  82 sur  156
Lien  83 sur  156
Lien  84 sur  156
Lien  85 sur  156
Lien  86 sur  156
Lien  87 sur  156
Lien  88 sur  156
Lien  89 sur  156
Lien  90 sur  156
Lien  91 sur  156
Lien  92 sur  156
Lien  93 sur  156
Lien  94 sur  156
Lien  95 sur  156
Lien  96 sur  156
Lien  97 sur  156
Lien  98 sur  156
Lien  99 sur  156
Lien  100 sur  156
Lien  101 sur  156
Lien  102 sur  156
Lien  103 sur  156
Lien  104 sur  156
Lien  105 sur  156
Lien  106 sur  156
Lien  107 sur  156
Lien  108 sur  156
Lien  109 sur  156
Lien  110 sur  156
Lien  111 sur  156
Lien  112 sur  156
Lien  113 sur  156
Lien  114 sur  156
Lien  115 sur  156
Lien  116 sur  156
Lien  117 sur  156
Lien  118 sur  156
Lien  119 sur  156
Lien  120 sur  156
Lien  121 sur  156
Lien  122 sur  156
Lien  123 sur  156
Lien  124 sur  156
Lien  125 sur  156
Lien  126 sur  156
Lien  127 sur  156
Lien  128 sur  156
Lien  129 sur  156
Lien  130 sur  156
Lien  131 sur  156
Lien  132 sur  156
Lien  133 sur  156
Lien  134 sur  156
Lien  135 sur  156
Lien  136 sur  156
Lien  137 sur  156
Lien  138 sur  156
Lien  139 sur  156
Lien  140 sur  156
Lien  141 sur  156
Lien  142 sur  156
Lien  143 sur  156
Lien  144 sur  156
Lien  145 sur  156
Lien  146 sur  156
Lien  147 sur  156
Lien  148 sur  156
Lien  149 sur  156
Lien  150 sur  156
Lien  151 sur  156
Lien  152 sur  156
Lien  153 sur  156
Lien  154 sur  156
Lien  155 sur  156
Lien  156 sur  156

,Lien,Poste,Typedecontrat,Entreprise,Departement,Region,Salaire,Description
0,https://fr.indeed.com/viewjob?jk=a3763118f568bb47,Data Engineer H/F,NA,Luminess,Rennes (35),Bretagne,NA,Acteur majeur de l'écosystème numérique frança...
1,https://fr.indeed.com/viewjob?jk=1fc396ebaa40f018,Développeur Python / Data Analyst (H/F),CDI,Wemoov,Rennes (35),Bretagne,NA,WEMOOV RECRUTE !\n\nCo-fondée en 2017 par 3 pa...
2,https://fr.indeed.com/viewjob?jk=628dad10f0b41ec3,Data Scientist H/F,NA,Crédit Mutuel Arkea,Brest (29),Bretagne,NA,Description du poste\nContrat\n\nSTAGE\n\nVotr...
3,https://fr.indeed.com/viewjob?jk=42667addc9f51a30,Responsable du pole IA / Data H/F,CDI,EXTERNATIC,Rennes (35),Bretagne,NA,DESCRIPTION DE L'OFFRE\nL'éditeur de logiciel ...
4,https://fr.indeed.com/viewjob?jk=fbfe177a68a56211,DATA ANALYST F/H,CDI,Dogfinance,Quimper (29),Bretagne,NA,DATA ANALYST F/H\nRef. Apec : 167782373W\nDogf...

In [13]:
#Export du csv sans index
df2.to_csv('bretagne.csv', index = False)

# Nettoyage

In [19]:
#Fonctions des nettoyage des différentes features
def nettoyage_contrat(df):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        Dataframe dont on souhaite nettoyer la colonne 'Typedecontrat'

    Returns
    -------
    df : Pandas.Dataframe
        Dataframe avec la colonne Typedecontrat nettoyée avec uniquement CDI, CDD, Intérim ou Stage
    '''
    df.Typedecontrat = df.Typedecontrat.apply(str)
    TContrat = []
    df['Typedecontrat'].fillna('CDI',inplace=True)
    for k in df.index:
        Type=re.findall(r"CDI|CDD|Intérim|Stage", df['Typedecontrat'][k], re.IGNORECASE)
        try: TContrat.append(Type[0])
        except: TContrat.append('CDI')
    df['Typedecontrat'] = pd.Series(TContrat)
    return(df)

def nettoyage_departement(df):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        Dataframe dont on souhaite nettoyer la colonne 'Departement'

    Returns
    -------
    df : Pandas.DataFrame
        Dataframe avec la colonne Departement contenant uniquement le numéro de Département 
        ou 0 si France ou Télétravail
    '''
    df.Departement = df.Departement.apply(str)
    df['Departement'].replace(to_replace=r'\d[e]|\d\d[e]', value='', regex=True,inplace=True)
    Postal = []
    for k in df.index:
        Localisation = re.findall(r"\d\d*", df['Departement'][k], re.IGNORECASE)
        if len(Localisation) != 1:
            Postal.append(0)
        else :
            if int(Localisation[0]) > 100:
                Postal.append(math.floor(int(Localisation[0]) / 1000))
            else: Postal.append(int(Localisation[0]))
    df['Departement'] = pd.Series(Postal)
    return(df)

def salary_stripper(df, column = 'Salaire'):
    df.Salaire = df.Salaire.apply(str)
    df[column] = df[column].replace({'\€':''}, regex = True)
    df[column].replace(regex=True,inplace=True,to_replace=r'\D',value=r' ')
    df[column] = df[column].str.replace(' ',',')
    df = pd.concat([df, (df[column].str.split(',,,', 1, expand=True).rename(columns={0:'Low', 1:'High'}))], axis=1)
    df['Low'] = df['Low'].str.replace(',','')
    df['Low'] = df['Low'].apply(pd.to_numeric)
    df.drop(column, axis=1, inplace=True)
    df['High'] = df['High'].str.replace(',','')
    df['High'] = df['High'].apply(pd.to_numeric)
    df['Salaire'] = df[['Low', 'High']].mean(axis=1)
    df = df.drop(columns=['Low','High'])
    return (df)

def nettoyage_salaire(df):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        Dataframe dont on souhaite uniformiser la colonne 'Salaire'

    Returns
    -------
    df : Pandas.DataFrame
        Dataframe dont la colonne 'Salaire' est uniformisée : 
        salaires journa mis à nan, salaires mensuels convertis en annuels
    '''
    salaire = []
    for c, k in enumerate(df.Salaire):
        if df.Salaire.isna()[c] == False:
            if k < 1000: salaire.append(np.nan)
            elif k < 10000: salaire.append(k * 12)
            else: salaire.append(k)
        else : salaire.append(np.nan)
    df.Salaire = pd.Series(salaire)
    return(df)

def nettoyage_poste(df):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        Dataframe dont on souhaite uniformiser les intitulés des postes

    Returns
    -------
    df : Pandas.DataFrame
        DataFrame dont les postes ont été regroupés
    '''
    df.Poste = df.Poste.apply(str)
    df['Poste'] = df['Poste'].str.upper()
    PosteDescrip = []
    for k in df.index:
        if re.findall(r"INGENIEUR|ENGINEER", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA INGENIEUR')
        elif re.findall(r"ENGINEER", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA INGENIEUR')
        elif re.findall(r"MANA|MASTER|PROJET", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA MANAGER')
        elif re.findall(r"SCIENTIST", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA SCIENTIST')
        elif re.findall(r"ARCHITECT", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA ARCHITECT')
        elif re.findall(r"DEVELOP", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DEVELOPPEUR')
        elif re.findall(r"BASE", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA MANAGER')
        elif re.findall(r"TECH", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('TECHNICIEN')
        elif re.findall(r"ANALY", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA ANALYSTE')
        elif re.findall(r"CONSUL|BIG", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('CONSULTANT')
        elif re.findall(r"MARK", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA MARKETING')
        elif re.findall(r"DONN", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('GESTIONNAIRE DONNEES')
        #else: PosteDescrip.append(df['Poste'][k])
        else : PosteDescrip.append('0')
    df['Poste'] = pd.Series(PosteDescrip)
    return(df)

def nettoyage(df):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        Dataframe dont ou souhaite nettoyer les colonnes 'Poste', 'Typedecontrat', 'Departement' et 'Salaire'
        DESCRIPTION.
    Returns
    -------
    df : Pandas.DataFrame
        Dataframe avec les 4 colonnes nettoyées
    '''
    df = salary_stripper(df,'Salaire')
    df = nettoyage_salaire(df)
    df = nettoyage_contrat(df)
    df = nettoyage_departement(df)
    df = nettoyage_poste(df)
    return(df)

In [48]:
#Nettoyage d'un df + Export
df = pd.read_csv('Grand-Est.csv')
df = nettoyage(df)
df.to_csv('grandest_propre.csv')

In [50]:
#Assemblage des différents df
dfF = pd.read_csv('France_V4.csv')
dfO = pd.read_csv('occitanie_propre.csv', index_col = 0)
dfG = pd.read_csv('grandest_propre.csv')

df = pd.concat([dfF, dfO, dfG])
df.to_csv('France_V5.csv')
df.Salaire.value_counts().sum()

306

In [17]:
#Nettoyage du premier df
#NE PAS APELLER
def nett_df1():
    df = pd.read_csv('Indeed_Salaries.csv')
    df.drop(columns=['Département','Type de contrat',"Nombre d'avis", 'Note Moyenne', 'Diplôme', "Années d'expérience", 'Temps de travail', 'Technologies','Langues', 'Industrie'], inplace = True)
    df = df.rename(columns={"Type de Contrat": "Typedecontrat", "Localisation":"Departement"})
    region = []
    for k in df.index :
        region.append("Centre-Val-de-Loire")
    df['Region'] = pd.Series(region)
    df = df[["Lien", "Poste", "Typedecontrat", "Entreprise", "Departement", "Region", "Salaire", "Description"]]
    df = nettoyage(df)
    df.to_csv('centrevaldeloire_propre.csv', index = False)
    df.head(20)

,Lien,Poste,Typedecontrat,Entreprise,Departement,Region,Description,Salaire
0,https://fr.indeed.com/viewjob?jk=5b2e4528626a2c37,GESTIONNAIRE DONNEES,CDI,INRAE,37,Centre-Val-de-Loire,Présentation d'INRAE\r\nL’Institut national de...,NaN
1,https://fr.indeed.com/viewjob?jk=a25ddcc7a0af8396,GESTIONNAIRE DONNEES,CDI,INRAE - Institut National de Recherche pour l'...,37,Centre-Val-de-Loire,"Acteur majeur de la recherche publique, INRAE ...",NaN
2,https://fr.indeed.com/viewjob?jk=ba5c2f88b0176120,TECHNICIEN,CDD,INTERACTION ORLEANS,41,Centre-Val-de-Loire,Votre mission :\r\n\r\nL'agence INTERACTION OR...,NaN
3,https://fr.indeed.com/viewjob?jk=d1fa73c363aa27d0,DATA MANAGER,CDI,PB SOLUTIONS,45,Centre-Val-de-Loire,Master Data Specialist / Spécialiste Base Arti...,NaN
4,https://fr.indeed.com/viewjob?jk=6f7788bc07e79181,DATA MANAGER,Intérim,Adecco,37,Centre-Val-de-Loire,Votre mission\r\n Adecco Tours Tertiaire reche...,NaN
5,https://fr.indeed.com/viewjob?jk=fbbdd347848cec7e,DATA MANAGER,CDI,ALBA Recrutement,41,Centre-Val-de-Loire,"ALBA Recrutement recherche pour son client, Gr...",NaN
6,https://fr.indeed.com/viewjob?jk=866fcdb3235fef6e,DATA SCIENTIST,CDI,Hays France,37,Centre-Val-de-Loire,"Intégré au sein de la BU Connectivité, dans un...",NaN
7,https://fr.indeed.com/viewjob?jk=b94d544f79c5e584,DATA INGENIEUR,CDI,gfi,37,Centre-Val-de-Loire,"Mission\r\nEn tant que Data Engineer, vos prin...",NaN
8,https://fr.indeed.com/viewjob?jk=50aca5cbf81cc201,DATA MANAGER,CDD,Walters People,28,Centre-Val-de-Loire,Nous recrutons un(e) Data Manager H/F pour un ...,34500.0
9,https://fr.indeed.com/viewjob?jk=4d41a1a3de8973d1,GESTIONNAIRE DONNEES,CDI,GEORGES MONIN SAS,18,Centre-Val-de-Loire,Référent de données référentiel F/H\r\nRef. Ap...,NaN
10,https://fr.indeed.com/viewjob?jk=b1e6e8a5b68b296b,GESTIONNAIRE DONNEES,CDD,CNRS,37,Centre-Val-de-Loire,Date Limite Candidature : jeudi 10 mars 2022\r...,26010.0
11,https://fr.indeed.com/viewjob?jk=693d73a58599ab1c,DATA ANALYSTE,CDI,Bayer,45,Centre-Val-de-Loire,Chez Bayer nous sommes des visionnaires motivé...,NaN
12,https://fr.indeed.com/viewjob?jk=b48099092ca1d8e2,DATA MANAGER,CDI,EURAXI PHARMA,0,Centre-Val-de-Loire,RESPONSABLE DATA MANAGEMENT F/H\r\nRef. Apec :...,NaN
13,https://fr.indeed.com/viewjob?jk=dd0b0d1ead377d0c,DATA MANAGER,CDI,GIP ALFA CENTRE-VAL DE LOIRE,0,Centre-Val-de-Loire,Gestionnaire-Développeur Base de données F/H\r...,NaN
14,https://fr.indeed.com/viewjob?jk=de372ba90e161d50,DATA ANALYSTE,CDI,ACII,37,Centre-Val-de-Loire,Chez nous on dit ce que l'on fait et on fait c...,40000.0
15,https://fr.indeed.com/viewjob?jk=9d8890177b894fdc,DATA MANAGER,CDI,EURAXI PHARMA,37,Centre-Val-de-Loire,"EURAXI PHARMA, CRO full services, spécialisée ...",55000.0
16,https://fr.indeed.com/viewjob?jk=04eb44777b8841c6,DATA ARCHITECT,CDI,gfi,45,Centre-Val-de-Loire,Mission\r\nEt si vous rejoignez une équipe exp...,NaN
17,https://fr.indeed.com/viewjob?jk=4e167cfbd43a1764,TECHNICIEN,CDI,Worldline,41,Centre-Val-de-Loire,Au sein de la direction des opérations techniq...,NaN
18,https://fr.indeed.com/viewjob?jk=6aa665d9f0061296,DATA MANAGER,CDI,gfi,45,Centre-Val-de-Loire,Mission\r\nLe Directeur de Projet orienté DATA...,NaN
19,https://fr.indeed.com/viewjob?jk=a2fa5cd502a472a2,DATA INGENIEUR,CDI,Chasseresse de talents,0,Centre-Val-de-Loire,"Je recherche un Data Engineer(CDI), pour le co...",72500.0

In [53]:
# import des librairies
import sqlite3
#import mysql.connector
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import yaml
# librairie pour lire les slah windows
from pathlib import PurePath

obj = PurePath ('D:\Documents\DevIA\Python\SSH\connect.yml')

with open (obj, 'r') as f:
    conf = yaml.safe_load(f)
my = conf['MYSQL']
conf['MYSQL']['user']
string = f"mysql+pymysql://{my['user']}:{my['password']}@{my['host']}:{my['port']}/bdd_dubiez"
engine = create_engine(string, echo=False)
print(engine)

Engine(mysql+pymysql://blanchet-durand:***@127.0.0.1:3306/bdd_dubiez)

In [64]:
df = pd.read_csv('France_V5.csv')
df = df.drop(columns ='Unnamed: 0')
df = df.drop(columns ='Unnamed: 0.1')
df.head()
df.to_sql(name='Indeed_Salaries',con=string, if_exists='replace', index=False)

# Preprocess + ML

In [194]:
import pandas as pd
import numpy as np

df_test = pd.read_csv('Indeed_Salaries_Test.csv')
df_test.head()

,Lien,Poste,Entreprise,Localisation,Type de Contrat,Salaire,Nombre d'avis,Note Moyenne,Diplôme,Années d'expérience,Type de contrat,Temps de travail,Technologies,Langues,Industrie,Département
0,https://fr.indeed.com/viewjob?jk=5b2e4528626a2c37,Ingénieur-e données,INRAE,37380 Nouzilly,Temps plein,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://fr.indeed.com/viewjob?jk=a25ddcc7a0af8396,Ingénieur-e données,INRAE - Institut National de Recherche pour l'...,Nouzilly (37),"Temps plein, CDI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://fr.indeed.com/viewjob?jk=ba5c2f88b0176120,TECHNICIEN EN GESTION DE DONNEES TECHNIQUES SA...,INTERACTION ORLEANS,41500 Mer,"Temps plein, CDD",NaN,88.0,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://fr.indeed.com/viewjob?jk=d1fa73c363aa27d0,Master Data Specialist / Spécialiste Base Arti...,PB SOLUTIONS,Beaune-la-Rolande (45),CDI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://fr.indeed.com/viewjob?jk=6f7788bc07e79181,Gestionnaire de Base de Données (h/f),Adecco,37300 Joué-lés-Tours,Intérim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [252]:
df2_test = pd.DataFrame({'salaire': df_test.Salaire,'note':df_test['Note Moyenne']})
df2_test.salaire.fillna(41490, inplace = True)
df2_test.note.fillna(3.6, inplace = True)
df2_test.head()

   salaire  note
0  41490.0   4.0
1  41490.0   3.6
2  41490.0   3.7
3  41490.0   3.6
4  41490.0   3.6

In [259]:
# data
import pandas as pd
# Preprocessing
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, LabelBinarizer, OneHotEncoder, StandardScaler, RobustScaler, MinMaxScaler, MaxAbsScaler
# Pipeline and model
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# Score of models
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay



def score_model(df, Target):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        DataFrame sur lequel on souhaite entraîner et appliquer le modèle
    Target : str
        Nom de la colonne contenant la  classification
        
    Random_seed : int, compris entre 0 et 999
        Seed du random_state pour le train_test_split. The default is 42.
    Sortie :
        Affiche le score du modèle et la matrice de confusion
    '''
    model = RandomForestRegressor()
    
    Target_Encoder = LabelEncoder()
    #y = Target_Encoder.fit_transform(df[Target])
    y = df[Target]
        
    X = df.drop(columns = Target)
    
    column_cat = X.select_dtypes(include = ['object']).columns
    column_num = X.select_dtypes(include = ['int', 'float']).columns
    
    transformer_cat = Pipeline(steps = [
        ('imputation', SimpleImputer(strategy='most_frequent')),
        ('label encoder', LabelEncoder()), 
        ('scaler', MinMaxScaler())])
    
    transformer_num = Pipeline(steps = [
        ('imputation', SimpleImputer(strategy='median')),
        ('scaling', MinMaxScaler())])
    
    preparation = ColumnTransformer(transformers =
                                    [('data_num', transformer_num, column_num),
                                     ('data_cat', transformer_cat, column_cat)])
    
    pipe_model = Pipeline(steps=
                          [('preparation', preparation),
                           ('model', model)])
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)
    
    pipe_model.fit(X_train, y_train)
    y_pred = pipe_model.predict(X_test)
    
    score = mean_absolute_error(y_test, y_pred)
        
    return(score)

In [271]:
score_model(df2_test, 'salaire')

703.7006277422215