In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('Indeed_Salaries.csv')
df.head()

,Lien,Poste,Entreprise,Localisation,Type de Contrat,Salaire,Description,Nombre d'avis,Note Moyenne,Diplôme,Années d'expérience,Type de contrat,Temps de travail,Technologies,Langues,Industrie,Département
0,https://fr.indeed.com/viewjob?jk=5b2e4528626a2c37,Ingénieur-e données,INRAE,37380 Nouzilly,Temps plein,NaN,Présentation d'INRAE\nL’Institut national de r...,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://fr.indeed.com/viewjob?jk=a25ddcc7a0af8396,Ingénieur-e données,INRAE - Institut National de Recherche pour l'...,Nouzilly (37),"Temps plein, CDI",NaN,"Acteur majeur de la recherche publique, INRAE ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://fr.indeed.com/viewjob?jk=ba5c2f88b0176120,TECHNICIEN EN GESTION DE DONNEES TECHNIQUES SA...,INTERACTION ORLEANS,41500 Mer,"Temps plein, CDD",NaN,Votre mission :\n\nL'agence INTERACTION ORLEAN...,88.0,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://fr.indeed.com/viewjob?jk=d1fa73c363aa27d0,Master Data Specialist / Spécialiste Base Arti...,PB SOLUTIONS,Beaune-la-Rolande (45),CDI,NaN,Master Data Specialist / Spécialiste Base Arti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://fr.indeed.com/viewjob?jk=6f7788bc07e79181,Gestionnaire de Base de Données (h/f),Adecco,37300 Joué-lés-Tours,Intérim,NaN,Votre mission\n Adecco Tours Tertiaire recherc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:


def salary_stripper(dataframe, column):
    dataframe[str(column)] = dataframe[str(column)].replace({'$':''}, regex = True)
    dataframe[str(column)].replace(regex=True,inplace=True,to_replace=r'\D',value=r' ')
    dataframe[str(column)] = dataframe[str(column)].str.replace(' ',',')
    dataframe = dataframe.join(dataframe[str(column)].str.split(',,,', 1, expand=True).rename(columns={0:'Low', 1:'High'}))
    dataframe['Low'] = dataframe['Low'].str.replace(',','')
    dataframe['Low'] = dataframe['Low'].astype('float64')
    dataframe.drop(str(column), axis=1, inplace=True)
    dataframe['High'] = dataframe['High'].str.replace(',','')
    dataframe['High'] = dataframe['High'].apply(pd.to_numeric)
    dataframe['Average'] = dataframe[['Low', 'High']].mean(axis=1)
    return dataframe

df = salary_stripper(df, 'Salaire')
df

KeyError: 'Salaire'

In [7]:
removehf = []
word = 'H/F'
for k in df.index:
    removehf.append(('H/F', ''(len(re.findall(word, df['Poste'][k], flags=re.IGNORECASE))))) 
    
df = pd.Series(salaire)

<>:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
/var/folders/xh/992blmm116gfjsjxnphl232w0000gn/T/ipykernel_2392/2560278230.py:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  removehf.append(('H/F', ''(len(re.findall(word, df['Poste'][k], flags=re.IGNORECASE)))))

TypeError: 'str' object is not callable