In [2]:
import csv
from datetime import datetime
import requests
from bs4 import BeautifulSoup
import pandas as pd
import math
import re
import numpy as np

## Test de récupération des intitulés des offres

In [46]:
#Fonction de récupération de l'URl de la recherche à partir du motif et de la localisation de la recherche
def get_url(job, location):
    """Generate an URL from Job and Location"""
    template = 'https://fr.indeed.com/jobs?q={}&l={}&sort=date'
    url = template.format(job, location)
    return(url)

In [3]:
#test de la fonction get_url()
url = get_url('Data', 'Bretagne')
url

'https://fr.indeed.com/jobs?q=Data&l=Bretagne&sort=date&filter=0'

# Liens

In [47]:
#Fonction générant la liste des liens des offres à partir d'un mot-clé et d'une localisation
def generate_page_url(Query, Location, Pages):
    '''
    Parameters
    ----------
    Query : Str
        Motif de la recherche
    Location : Str
        Localisation de la recherche

    Returns
    -------
    Liste d'url contenant la liste des pages issues de la recherche'

    '''
    home_url = []
    base_url = get_url(Query, Location)
    
    #soup = BeautifulSoup((requests.get(base_url)).text, 'html.parser')
    #Pages = round(int(soup.find(id="searchCountPages").get_text().split()[3])/10)
    
    for k in range(0, Pages):
        home_url.append(base_url + '&start=' + str(k*10))
    
    return(home_url)

In [8]:
#test de la fonction generate_page_url()
liste_url = generate_page_url('Data', 'Centre-Val+de+Loire', 15)
liste_url

['https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=0',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=10',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=20',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=30',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=40',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=50',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=60',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=70',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=80',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=90',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=100',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=110',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=120',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=130',
 'https://fr.indeed.com/jobs?q=Data&l=Centre-Val+de+Loire&sort=date&filter=0&start=140']

In [16]:
#Test de la récupération des IDs sur la "home page"
response = requests.get(liste_url[0])
soup = BeautifulSoup(response.text, 'html.parser')
card = soup.find_all('a')
id = []
for k in card:
    if 'data-jk' in k.attrs:
        id.append(k.attrs['data-jk'])
len(id), id

(15,
 ['dcee9ca24d0ea05e',
  'dc481509bbff9dd1',
  'a30e3e863f9b3a13',
  '34f5f637a1c4f830',
  '87e0a564d9190aa2',
  'de14d959d9b11394',
  'a25ddcc7a0af8396',
  '5897aa5ebf49f79e',
  '6395906f259aa1ee',
  '8c8000b23d3db1fa',
  '98f347d4fe23991d',
  '3bd3eff7dc148e9c',
  '076f202622c9a55a',
  '4086d6889d9f474e',
  '5b2e4528626a2c37'])

In [48]:
#Fonction de récupération des URLs individuelles à partir des URLs de la "home page"
def recup_urls(home_url):
    '''
    Parameters
    ----------
    home_url : List
        Liste contenant les URLs issues de la recherche dont l'on souhaite obtenir les URLs 
        individuelles des offres'
    Returns
    -------
    Liste contenant les URLs individuelles des offres à scraper.
    '''
    LINKS = []
    
    for URL in home_url:
        response = requests.get(URL)    
        card = BeautifulSoup(response.text, 'html.parser').find_all('a')
        for k in card:
            if 'data-jk' in k.attrs:
                link = 'https://fr.indeed.com/viewjob?jk=' + (k.attrs['data-jk']) 
                if link not in LINKS:
                    LINKS.append(link)
    return(LINKS)

In [ ]:
liste_url = generate_page_url('Data', 'Provence-Alpes-Côte%20d%27Azur', 20)
job_url = recup_urls(liste_url)
job_url, len(job_url)

In [6]:
#Récupération empirique des liens pour compenser les problèmes de liens manquants (A ne pas apeller)
def recup_emp():
    links = []
    nlinks = []

    for k in range(25):
        links += recup_urls()
        links = list(dict.fromkeys(links))
        nlinks.append(len(links))
    print(len(links), links, nlinks)

In [7]:
#Fonction récupérant les données Titre, Type de Contrat, Entreprise, Localisation, Region, Salaire et Description
def scrap_job(link_list, region):
    """
    Parameters
    ----------
    link_list : list
        Liste de str contenant la liste des liens individuels des différentes offres du site

    Returns
    -------
    df : Pandas.Dataframe
        Dataframe composé des champs Lien, Titre, Entreprise, Type de contrat, Localisation,
        Region, Salaire et Description.
    """
    titre = []
    typecontrat = []
    entreprise = []
    localisation = []
    lregion = []
    salaire = []
    description = []
    
    
    
    for k, link in enumerate(link_list):
        print('Lien ', k+1,'sur ', len(link_list))
        
        response = requests.get(link)    
        soup = BeautifulSoup(response.text, 'html.parser')
        
        try:titre.append(soup.find('h1').get_text())
        except:titre.append('NA')    
        
        try: typecontrat.append(soup.find('span', 'jobsearch-JobMetadataHeader-item icl-u-xs-mt--xs').get_text())
        except : typecontrat.append('NA')

        try:entreprise.append(soup.find_all("div", "icl-u-lg-mr--sm icl-u-xs-mr--xs")[1].get_text())
        except:entreprise.append('NA')
            
        try:localisation.append(soup.find('div','icl-u-xs-mt--xs icl-u-textColor--secondary jobsearch-JobInfoHeader-subtitle jobsearch-DesktopStickyContainer-subtitle').find_all('div')[-2].get_text())
        except:localisation.append('NA')
        
        try : lregion.append(region)
        except : lregion.append('NA')
        
        try: salaire.append(soup.find('span', 'icl-u-xs-mr--xs attribute_snippet').get_text())
        except:salaire.append('NA')
        
        try: description.append(soup.find(id="jobDescriptionText").get_text())
        except:description.append('NA')
     
    Lien = pd.Series(link_list)
    Titre = pd.Series(titre)
    TypeContrat = pd.Series(typecontrat)
    Entreprise = pd.Series(entreprise)
    Localisation = pd.Series(localisation)
    Region = pd.Series(lregion)
    Salaire = pd.Series(salaire)
    Description = pd.Series(description)
    
    
    
    frame = {'Lien': Lien,
             'Poste': Titre,
             'Typedecontrat':TypeContrat,
             'Entreprise': Entreprise,
             'Departement':Localisation,
             'Region' : Region,
             'Salaire':Salaire,
             'Description':Description}
    
    df = pd.DataFrame(frame)
    return(df)

In [10]:
#Récupération des données de la Bretagne.
df2 = scrap_job(job_url, 'Centre-Val-de-Loire')
df2.head()

Lien  1 sur  83
Lien  2 sur  83
Lien  3 sur  83
Lien  4 sur  83
Lien  5 sur  83
Lien  6 sur  83
Lien  7 sur  83
Lien  8 sur  83
Lien  9 sur  83
Lien  10 sur  83
Lien  11 sur  83
Lien  12 sur  83
Lien  13 sur  83
Lien  14 sur  83
Lien  15 sur  83
Lien  16 sur  83
Lien  17 sur  83
Lien  18 sur  83
Lien  19 sur  83
Lien  20 sur  83
Lien  21 sur  83
Lien  22 sur  83
Lien  23 sur  83
Lien  24 sur  83
Lien  25 sur  83
Lien  26 sur  83
Lien  27 sur  83
Lien  28 sur  83
Lien  29 sur  83
Lien  30 sur  83
Lien  31 sur  83
Lien  32 sur  83
Lien  33 sur  83
Lien  34 sur  83
Lien  35 sur  83
Lien  36 sur  83
Lien  37 sur  83
Lien  38 sur  83
Lien  39 sur  83
Lien  40 sur  83
Lien  41 sur  83
Lien  42 sur  83
Lien  43 sur  83
Lien  44 sur  83
Lien  45 sur  83
Lien  46 sur  83
Lien  47 sur  83
Lien  48 sur  83
Lien  49 sur  83
Lien  50 sur  83
Lien  51 sur  83
Lien  52 sur  83
Lien  53 sur  83
Lien  54 sur  83
Lien  55 sur  83
Lien  56 sur  83
Lien  57 sur  83
Lien  58 sur  83
Lien  59 sur  83
Lien  60 sur  83
Lien  61 sur  83
Lien  62 sur  83
Lien  63 sur  83
Lien  64 sur  83
Lien  65 sur  83
Lien  66 sur  83
Lien  67 sur  83
Lien  68 sur  83
Lien  69 sur  83
Lien  70 sur  83
Lien  71 sur  83
Lien  72 sur  83
Lien  73 sur  83
Lien  74 sur  83
Lien  75 sur  83
Lien  76 sur  83
Lien  77 sur  83
Lien  78 sur  83
Lien  79 sur  83
Lien  80 sur  83
Lien  81 sur  83
Lien  82 sur  83
Lien  83 sur  83

,Lien,Poste,Typedecontrat,Entreprise,Departement,Region,Salaire,Description
0,https://fr.indeed.com/viewjob?jk=5d6e0b14d06f8a04,"Ingénieur Data confirmé (h/f), Tours",CDI,SPRINGPROFESSIONAL,Tours (37),Centre-Val-de-Loire,NA,Votre mission\nA la recherche de nouvelles aff...
1,https://fr.indeed.com/viewjob?jk=d3255caf45c89495,(F/H) Ingénieur d’études/data analyst/analyse ...,CDD,Institut National de l'Information Géographique,Nogent-sur-Vernisson (45),Centre-Val-de-Loire,NA,L’Institut national de l’information géographi...
2,https://fr.indeed.com/viewjob?jk=57399fca19dea62c,(F/H) Ingénieur d’études/data analyst/édition ...,CDD,Institut National de l'Information Géographique,Nogent-sur-Vernisson (45),Centre-Val-de-Loire,NA,L’Institut national de l’information géographi...
3,https://fr.indeed.com/viewjob?jk=fdf5922e9f57a3f9,Data Engineer,CDI,NEO SOFT,Tours (37),Centre-Val-de-Loire,NA,Votre mission\nAfin d'accompagner l'un de nos ...
4,https://fr.indeed.com/viewjob?jk=c384bb76e7cc8271,Gestionnaire Base de données projets H/F,"- Temps plein, CDD",RECKITT CHARTRES,28000 Chartres,Centre-Val-de-Loire,34 000 € - 38 000 € par an,REJOIGNEZ LES EQUIPES RECKITT BENCKISER CHARTR...

In [11]:
#Export du csv sans index
df2.to_csv('centre_sale.csv', index = False)

# Nettoyage

In [152]:
#Fonctions des nettoyage des différentes features
def nettoyage_contrat(df):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        Dataframe dont on souhaite nettoyer la colonne 'Typedecontrat'

    Returns
    -------
    df : Pandas.Dataframe
        Dataframe avec la colonne Typedecontrat nettoyée avec uniquement CDI, CDD, Intérim ou Stage
    '''
    df.Typedecontrat = df.Typedecontrat.apply(str)
    TContrat = []
    df['Typedecontrat'].fillna('CDI',inplace=True)
    for k in df.index:
        Type=re.findall(r"CDI|CDD|Intérim|Stage", df['Typedecontrat'][k], re.IGNORECASE)
        try: TContrat.append(Type[0])
        except: TContrat.append('CDI')
    df['Typedecontrat'] = pd.Series(TContrat)
    return(df)

def nettoyage_departement(df):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        Dataframe dont on souhaite nettoyer la colonne 'Departement'

    Returns
    -------
    df : Pandas.DataFrame
        Dataframe avec la colonne Departement contenant uniquement le numéro de Département 
        ou 0 si France ou Télétravail
    '''
    df.Departement = df.Departement.apply(str)
    df['Departement'].replace(to_replace=r'\d[e]|\d\d[e]', value='', regex=True,inplace=True)
    Postal = []
    for k in df.index:
        Localisation = re.findall(r"\d\d*", df['Departement'][k], re.IGNORECASE)
        if len(Localisation) != 1:
            Postal.append(0)
        else :
            if int(Localisation[0]) > 100:
                Postal.append(math.floor(int(Localisation[0]) / 1000))
            else: Postal.append(int(Localisation[0]))
    df['Departement'] = pd.Series(Postal)
    return(df)

def salary_stripper(df, column = 'Salaire'):
    df.Salaire = df.Salaire.apply(str)
    df[column] = df[column].replace({'\€':''}, regex = True)
    df[column].replace(regex=True,inplace=True,to_replace=r'\D',value=r' ')
    df[column] = df[column].str.replace(' ',',')
    df = pd.concat([df, (df[column].str.split(',,,', 1, expand=True).rename(columns={0:'Low', 1:'High'}))], axis=1)
    df['Low'] = df['Low'].str.replace(',','')
    df['Low'] = df['Low'].apply(pd.to_numeric)
    df.drop(column, axis=1, inplace=True)
    df['High'] = df['High'].str.replace(',','')
    df['High'] = df['High'].apply(pd.to_numeric)
    df['Salaire'] = df[['Low', 'High']].mean(axis=1)
    df = df.drop(columns=['Low','High'])
    return (df)

def nettoyage_salaire(df):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        Dataframe dont on souhaite uniformiser la colonne 'Salaire'

    Returns
    -------
    df : Pandas.DataFrame
        Dataframe dont la colonne 'Salaire' est uniformisée : 
        salaires journa mis à nan, salaires mensuels convertis en annuels
    '''
    salaire = []
    for c, k in enumerate(df.Salaire):
        if df.Salaire.isna()[c] == False:
            if k < 1000: salaire.append(np.nan)
            elif k < 10000: salaire.append(k * 12)
            else: salaire.append(k)
        else : salaire.append(np.nan)
    df.Salaire = pd.Series(salaire)
    return(df)

def nettoyage_poste(df):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        Dataframe dont on souhaite uniformiser les intitulés des postes

    Returns
    -------
    df : Pandas.DataFrame
        DataFrame dont les postes ont été regroupés
    '''
    df.Poste = df.Poste.apply(str)
    df['Poste'] = df['Poste'].str.upper()
    PosteDescrip = []
    for k in df.index:
        if re.findall(r"INGENIEUR|ENGINEER", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA INGENIEUR')
        elif re.findall(r"ENGINEER", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA INGENIEUR')
        elif re.findall(r"MANA|MASTER|PROJET", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA MANAGER')
        elif re.findall(r"SCIENTIST", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA SCIENTIST')
        elif re.findall(r"ARCHITECT", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA ARCHITECT')
        elif re.findall(r"DEVELOP", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DEVELOPPEUR')
        elif re.findall(r"BASE", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA MANAGER')
        elif re.findall(r"TECH", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('TECHNICIEN')
        elif re.findall(r"ANALY", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA ANALYSTE')
        elif re.findall(r"CONSUL|BIG", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('CONSULTANT')
        elif re.findall(r"MARK", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('DATA MARKETING')
        elif re.findall(r"DONN", df['Poste'][k], re.IGNORECASE):
            PosteDescrip.append('GESTIONNAIRE DONNEES')
        #else: PosteDescrip.append(df['Poste'][k])
        else : PosteDescrip.append('0')
    df['Poste'] = pd.Series(PosteDescrip)
    return(df)

def nettoyage(df):
    '''
    Parameters
    ----------
    df : Pandas.DataFrame
        Dataframe dont ou souhaite nettoyer les colonnes 'Poste', 'Typedecontrat', 'Departement' et 'Salaire'
        DESCRIPTION.
    Returns
    -------
    df : Pandas.DataFrame
        Dataframe avec les 4 colonnes nettoyées
    '''
    df = salary_stripper(df,'Salaire')
    df = nettoyage_salaire(df)
    df = nettoyage_contrat(df)
    df = nettoyage_departement(df)
    df = nettoyage_poste(df)
    return(df)

In [153]:
#Nettoyage d'un df + Export
df = pd.read_csv('Nouvelle-Aquitaine.csv')
df = nettoyage(df)
#df = df.drop(columns = 'Unnamed: 0')
df.to_csv('nouvelleaquitaine_propre.csv', index = False)
df.head()

,Lien,Poste,Typedecontrat,Entreprise,Departement,Region,Description,Salaire
0,https://fr.indeed.com/viewjob?jk=6c8c3d71ae5ede5c,DATA INGENIEUR,CDI,Dassault Aviation,33,Nouvelle-Aquitaine,Informations générales\nRéférence\n2022-8424\n...,NaN
1,https://fr.indeed.com/viewjob?jk=eb60ee9af7be8f7a,DATA MARKETING,Stage,Back Market,33,Nouvelle-Aquitaine,Back Market is the #1 marketplace for refurbis...,NaN
2,https://fr.indeed.com/viewjob?jk=b29b01359941e1da,DATA ANALYSTE,CDD,UNIVERSITE DE POITIERS,86,Nouvelle-Aquitaine,"Ingénieur-e d’études en production, traitement...",NaN
3,https://fr.indeed.com/viewjob?jk=b098ed8791420476,DATA MANAGER,CDI,ABMI,17,Nouvelle-Aquitaine,"ABMI, société de conseil en Ingénierie en fort...",NaN
4,https://fr.indeed.com/viewjob?jk=4358fa53a375c4bd,0,CDI,SIDERLOG CONSEIL,79,Nouvelle-Aquitaine,responsable d'application Data- Niort\nPrésent...,NaN

In [155]:
#Assemblage des différents df
df0 = pd.read_csv('France_V7.csv')

df1 = pd.read_csv('bourgognefranchecomte_propre.csv')
df2 = pd.read_csv('nouvelleaquitaine_propre.csv')

df = pd.concat([df0, df1, df2])

df.to_csv('France_V8.csv', index = False)
df.Salaire.value_counts().sum()

390

In [17]:
#Nettoyage du premier df
#NE PAS APELLER
def nett_df1():
    df = pd.read_csv('Indeed_Salaries.csv')
    df.drop(columns=['Département','Type de contrat',"Nombre d'avis", 'Note Moyenne', 'Diplôme', "Années d'expérience", 'Temps de travail', 'Technologies','Langues', 'Industrie'], inplace = True)
    df = df.rename(columns={"Type de Contrat": "Typedecontrat", "Localisation":"Departement"})
    region = []
    for k in df.index :
        region.append("Centre-Val-de-Loire")
    df['Region'] = pd.Series(region)
    df = df[["Lien", "Poste", "Typedecontrat", "Entreprise", "Departement", "Region", "Salaire", "Description"]]
    df = nettoyage(df)
    df.to_csv('centrevaldeloire_propre.csv', index = False)
    df.head(20)

,Lien,Poste,Typedecontrat,Entreprise,Departement,Region,Description,Salaire
0,https://fr.indeed.com/viewjob?jk=5b2e4528626a2c37,GESTIONNAIRE DONNEES,CDI,INRAE,37,Centre-Val-de-Loire,Présentation d'INRAE\r\nL’Institut national de...,NaN
1,https://fr.indeed.com/viewjob?jk=a25ddcc7a0af8396,GESTIONNAIRE DONNEES,CDI,INRAE - Institut National de Recherche pour l'...,37,Centre-Val-de-Loire,"Acteur majeur de la recherche publique, INRAE ...",NaN
2,https://fr.indeed.com/viewjob?jk=ba5c2f88b0176120,TECHNICIEN,CDD,INTERACTION ORLEANS,41,Centre-Val-de-Loire,Votre mission :\r\n\r\nL'agence INTERACTION OR...,NaN
3,https://fr.indeed.com/viewjob?jk=d1fa73c363aa27d0,DATA MANAGER,CDI,PB SOLUTIONS,45,Centre-Val-de-Loire,Master Data Specialist / Spécialiste Base Arti...,NaN
4,https://fr.indeed.com/viewjob?jk=6f7788bc07e79181,DATA MANAGER,Intérim,Adecco,37,Centre-Val-de-Loire,Votre mission\r\n Adecco Tours Tertiaire reche...,NaN
5,https://fr.indeed.com/viewjob?jk=fbbdd347848cec7e,DATA MANAGER,CDI,ALBA Recrutement,41,Centre-Val-de-Loire,"ALBA Recrutement recherche pour son client, Gr...",NaN
6,https://fr.indeed.com/viewjob?jk=866fcdb3235fef6e,DATA SCIENTIST,CDI,Hays France,37,Centre-Val-de-Loire,"Intégré au sein de la BU Connectivité, dans un...",NaN
7,https://fr.indeed.com/viewjob?jk=b94d544f79c5e584,DATA INGENIEUR,CDI,gfi,37,Centre-Val-de-Loire,"Mission\r\nEn tant que Data Engineer, vos prin...",NaN
8,https://fr.indeed.com/viewjob?jk=50aca5cbf81cc201,DATA MANAGER,CDD,Walters People,28,Centre-Val-de-Loire,Nous recrutons un(e) Data Manager H/F pour un ...,34500.0
9,https://fr.indeed.com/viewjob?jk=4d41a1a3de8973d1,GESTIONNAIRE DONNEES,CDI,GEORGES MONIN SAS,18,Centre-Val-de-Loire,Référent de données référentiel F/H\r\nRef. Ap...,NaN
10,https://fr.indeed.com/viewjob?jk=b1e6e8a5b68b296b,GESTIONNAIRE DONNEES,CDD,CNRS,37,Centre-Val-de-Loire,Date Limite Candidature : jeudi 10 mars 2022\r...,26010.0
11,https://fr.indeed.com/viewjob?jk=693d73a58599ab1c,DATA ANALYSTE,CDI,Bayer,45,Centre-Val-de-Loire,Chez Bayer nous sommes des visionnaires motivé...,NaN
12,https://fr.indeed.com/viewjob?jk=b48099092ca1d8e2,DATA MANAGER,CDI,EURAXI PHARMA,0,Centre-Val-de-Loire,RESPONSABLE DATA MANAGEMENT F/H\r\nRef. Apec :...,NaN
13,https://fr.indeed.com/viewjob?jk=dd0b0d1ead377d0c,DATA MANAGER,CDI,GIP ALFA CENTRE-VAL DE LOIRE,0,Centre-Val-de-Loire,Gestionnaire-Développeur Base de données F/H\r...,NaN
14,https://fr.indeed.com/viewjob?jk=de372ba90e161d50,DATA ANALYSTE,CDI,ACII,37,Centre-Val-de-Loire,Chez nous on dit ce que l'on fait et on fait c...,40000.0
15,https://fr.indeed.com/viewjob?jk=9d8890177b894fdc,DATA MANAGER,CDI,EURAXI PHARMA,37,Centre-Val-de-Loire,"EURAXI PHARMA, CRO full services, spécialisée ...",55000.0
16,https://fr.indeed.com/viewjob?jk=04eb44777b8841c6,DATA ARCHITECT,CDI,gfi,45,Centre-Val-de-Loire,Mission\r\nEt si vous rejoignez une équipe exp...,NaN
17,https://fr.indeed.com/viewjob?jk=4e167cfbd43a1764,TECHNICIEN,CDI,Worldline,41,Centre-Val-de-Loire,Au sein de la direction des opérations techniq...,NaN
18,https://fr.indeed.com/viewjob?jk=6aa665d9f0061296,DATA MANAGER,CDI,gfi,45,Centre-Val-de-Loire,Mission\r\nLe Directeur de Projet orienté DATA...,NaN
19,https://fr.indeed.com/viewjob?jk=a2fa5cd502a472a2,DATA INGENIEUR,CDI,Chasseresse de talents,0,Centre-Val-de-Loire,"Je recherche un Data Engineer(CDI), pour le co...",72500.0

In [51]:
# import des librairies
import sqlite3
#import mysql.connector
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import yaml
# librairie pour lire les slah windows
from pathlib import PurePath

obj = PurePath ('D:\Documents\DevIA\Python\SSH\connect.yml')

with open (obj, 'r') as f:
    conf = yaml.safe_load(f)
my = conf['MYSQL']
conf['MYSQL']['user']
string = f"mysql+pymysql://{my['user']}:{my['password']}@{my['host']}:{my['port']}/bdd_dubiez"
engine = create_engine(string, echo=False)
print(engine)

df.to_sql(name='Indeed_Salaries',con=string, if_exists='replace', index=False)

Engine(mysql+pymysql://blanchet-durand:***@127.0.0.1:3306/bdd_dubiez)

In [56]:
df = pd.read_csv('France_V6.csv')

df.head()
df.to_sql(name='Indeed_Salaries',con=string, if_exists='replace', index=False)

,Lien,Poste,Typedecontrat,Entreprise,Departement,Region,Description,Salaire
0,https://fr.indeed.com/viewjob?jk=82081bd3dfb08a6d,DATA MANAGER,CDI,AL2S3 LTD,0,Saône-et-Loire,We are currently searching for a Senior Data M...,NaN
1,https://fr.indeed.com/viewjob?jk=61d2f585d8d41023,TECHNICIEN,CDI,Framatome,71,Saône-et-Loire,Description de la missionInitialiser les donné...,35500.0
2,https://fr.indeed.com/viewjob?jk=52bf1f30d1244a90,TECHNICIEN,CDD,Framatome,71,Saône-et-Loire,L'usine de Saint-Marcel recrute un(e) Coordina...,37500.0
3,https://fr.indeed.com/viewjob?jk=cb593f2b212266f3,TECHNICIEN,CDI,Framatome,71,Saône-et-Loire,Initialiser les données statiques sous SAP/PLM...,NaN
4,https://fr.indeed.com/viewjob?jk=dbf4e2b8c6ab788e,TECHNICIEN,CDD,Framatome,71,Saône-et-Loire,L'usine de Saint-Marcel recrute un(e) Coordina...,NaN

# Nettoyage Bis

In [156]:
import pandas as pd
import numpy as np

df = pd.read_csv('France_V8.csv')
df.head()

,Lien,Poste,Typedecontrat,Entreprise,Departement,Region,Description,Salaire
0,https://fr.indeed.com/viewjob?jk=82081bd3dfb08a6d,DATA MANAGER,CDI,AL2S3 LTD,0,Saône-et-Loire,We are currently searching for a Senior Data M...,NaN
1,https://fr.indeed.com/viewjob?jk=61d2f585d8d41023,TECHNICIEN,CDI,Framatome,71,Saône-et-Loire,Description de la missionInitialiser les donné...,35500.0
2,https://fr.indeed.com/viewjob?jk=52bf1f30d1244a90,TECHNICIEN,CDD,Framatome,71,Saône-et-Loire,L'usine de Saint-Marcel recrute un(e) Coordina...,37500.0
3,https://fr.indeed.com/viewjob?jk=cb593f2b212266f3,TECHNICIEN,CDI,Framatome,71,Saône-et-Loire,Initialiser les données statiques sous SAP/PLM...,NaN
4,https://fr.indeed.com/viewjob?jk=dbf4e2b8c6ab788e,TECHNICIEN,CDD,Framatome,71,Saône-et-Loire,L'usine de Saint-Marcel recrute un(e) Coordina...,NaN

In [163]:
df.dropna(subset = ["Salaire"], inplace=True)
df.drop_duplicates(subset = 'Lien', inplace = True)
df.head()

,Lien,Poste,Typedecontrat,Entreprise,Departement,Region,Description,Salaire
1,https://fr.indeed.com/viewjob?jk=61d2f585d8d41023,TECHNICIEN,CDI,Framatome,71,Bourgogne-Franche-Comté,Description de la missionInitialiser les donné...,35500.0
2,https://fr.indeed.com/viewjob?jk=52bf1f30d1244a90,TECHNICIEN,CDD,Framatome,71,Bourgogne-Franche-Comté,L'usine de Saint-Marcel recrute un(e) Coordina...,37500.0
12,https://fr.indeed.com/viewjob?jk=bd736bfe37555089,DATA MANAGER,CDI,Alcyon,1,Auvergne-Rhône-Alpes,"Alcyon, société de distribution de médicaments...",25000.0
13,https://fr.indeed.com/viewjob?jk=1fb726c1ea6cd108,Autre Poste,CDI,Randstad Search Lyon Support,1,Auvergne-Rhône-Alpes,"Randstad Search, Cabinet Conseil en Recrutemen...",50000.0
21,https://fr.indeed.com/viewjob?jk=a58f2185cd18158b,DATA SCIENTIST,CDD,Université Gustave Eiffel,0,Auvergne-Rhône-Alpes,Ingénieur d’études / data scientist / statisti...,25200.0

In [166]:
df.Poste.replace('0', 'Autre Poste', inplace = True)
df.Poste.value_counts()

DATA MANAGER            73
DATA ANALYSTE           41
DATA SCIENTIST          35
DATA INGENIEUR          35
Autre Poste             32
GESTIONNAIRE DONNEES    29
DATA ARCHITECT          11
TECHNICIEN               9
CONSULTANT               7
DEVELOPPEUR              3
DATA MARKETING           2
Name: Poste, dtype: int64

In [167]:
df.Typedecontrat.value_counts()

CDI        219
CDD         36
Intérim     22
Name: Typedecontrat, dtype: int64

In [168]:
df.Departement.value_counts()

0     53
75    27
33    25
59    23
92    18
69    15
31    14
44    10
37     8
57     6
29     5
34     5
49     5
25     4
74     4
35     3
62     3
94     3
93     3
47     3
17     3
66     2
90     2
19     2
51     2
71     2
12     2
32     2
28     2
64     2
87     2
1      2
45     1
41     1
78     1
18     1
91     1
77     1
68     1
11     1
80     1
85     1
60     1
21     1
63     1
42     1
53     1
Name: Departement, dtype: int64

In [169]:
df.Region.value_counts()

Nouvelle-Aquitaine         44
Île de France              44
Hauts-De-France            33
Auvergne-Rhône-Alpes       32
Occitanie                  32
Île-de-France              25
Pays de la Loire           19
Centre-Val-de-Loire        15
Grand-Est                  12
Bourgogne-Franche-Comté    11
Bretagne                   10
Name: Region, dtype: int64

In [170]:
df.replace('Aquitaine', 'Nouvelle-Aquitaine', inplace = True)
df.replace('Rhône-Alpes', 'Auvergne-Rhône-Alpes', inplace = True)
df.replace('Saône-et-Loire', 'Bourgogne-Franche-Comté', inplace = True)
df.replace('Ain', 'Auvergne-Rhône-Alpes', inplace = True)
df.Region.value_counts()

Nouvelle-Aquitaine         44
Île de France              44
Hauts-De-France            33
Auvergne-Rhône-Alpes       32
Occitanie                  32
Île-de-France              25
Pays de la Loire           19
Centre-Val-de-Loire        15
Grand-Est                  12
Bourgogne-Franche-Comté    11
Bretagne                   10
Name: Region, dtype: int64

In [171]:
df.to_csv('df_final.csv', index = False)

# PyCaret

In [1]:
# check version
from pycaret.utils import version
version()

'2.3.6'

In [3]:
import pandas as pd
df = pd.read_csv("df_final.csv")
df.drop(['Lien', 'Entreprise', 'Description'], axis = 1, inplace = True)
print(df.dtypes)
df.head()

Poste             object
Typedecontrat     object
Departement        int64
Region            object
Salaire          float64
dtype: object

            Poste Typedecontrat  Departement                   Region  Salaire
0      TECHNICIEN           CDI           71  Bourgogne-Franche-Comté  35500.0
1      TECHNICIEN           CDD           71  Bourgogne-Franche-Comté  37500.0
2    DATA MANAGER           CDI            1     Auvergne-Rhône-Alpes  25000.0
3     Autre Poste           CDI            1     Auvergne-Rhône-Alpes  50000.0
4  DATA SCIENTIST           CDD            0     Auvergne-Rhône-Alpes  25200.0

In [4]:
from pycaret.regression import *
clf1 = setup(data = df, target = "Salaire",
             session_id = 42,
             categorical_features = ['Poste', 'Typedecontrat', 'Departement'])

In [5]:
best_model = compare_models()

In [12]:
model = create_model('rf')
tuned = tune_model(model, n_iter = 500)

In [13]:
tuned

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=8, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.3,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=90, n_jobs=-1, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

# Preprocessing + ML

In [68]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import r2_score, mean_absolute_error

In [30]:
import pandas as pd
df = pd.read_csv("df_final.csv")
df.drop(['Lien', 'Entreprise', 'Description', 'Region'], axis = 1, inplace = True)
print(df.dtypes)
df.head()

Poste             object
Typedecontrat     object
Departement        int64
Salaire          float64
dtype: object

            Poste Typedecontrat  Departement  Salaire
0      TECHNICIEN           CDI           71  35500.0
1      TECHNICIEN           CDD           71  37500.0
2    DATA MANAGER           CDI            1  25000.0
3     Autre Poste           CDI            1  50000.0
4  DATA SCIENTIST           CDD            0  25200.0

In [22]:
y = df.Salaire

In [23]:
X = df.drop(columns = 'Salaire')
X

              Poste Typedecontrat  Departement
0        TECHNICIEN           CDI           71
1        TECHNICIEN           CDD           71
2      DATA MANAGER           CDI            1
3       Autre Poste           CDI            1
4    DATA SCIENTIST           CDD            0
..              ...           ...          ...
272    DATA MANAGER       Intérim           17
273    DATA MANAGER           CDI            0
274   DATA ANALYSTE           CDD           87
275     Autre Poste           CDI           33
276     DEVELOPPEUR           CDI           87

[277 rows x 3 columns]

In [31]:
transformer = Pipeline(steps = [
    ('OneHotEncoder', OneHotEncoder(sparse = False))])

In [45]:
Prep = ColumnTransformer(transformers = [
    ('cat', transformer, X.columns)])

In [46]:
model = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=8, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.3,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=90, n_jobs=-1, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [47]:
pipe_model = Pipeline(steps = [
    ('preparation', Prep),
    ('model', model)])

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 3)

In [56]:
pipe_model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('preparation',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('cat',
                                                  Pipeline(memory=None,
                                                           steps=[('OneHotEncoder',
                                                                   OneHotEncoder(categories='auto',
                                                                                 drop=None,
                                                                                 dtype=<class 'numpy.float64'>,
                                                                                 handle_unknown='error',
                                                                                 sparse=False))],
                                                           verbose=False),
                                                  Index(['Poste', 'Typedec...
                 RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                       criterion='mse', max_depth=8,
                                       max_features='sqrt', max_leaf_nodes=None,
                                       max_samples=None,
                                       min_impurity_decrease=0.3,
                                       min_impurity_split=None,
                                       min_samples_leaf=2, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=90, n_jobs=-1,
                                       oob_score=False, random_state=42,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [63]:
y_pred = pipe_model.predict(X_test)

In [71]:
score1 = r2_score(y_test, y_pred)
score2 = mean_absolute_error(y_test, y_pred)
print("R² Score =", score1, "\nMAE =",score2)

R² Score = 0.45331892337711244
MAE = 7224.424133613171

In [74]:
from joblib import dump
dump(model, 'RFR.joblib')

['RFR.joblib']

In [78]:
from joblib import load
reg = load('RFR.joblib')
reg.predict(['Technicien', 'CDI', 71])

ValueError: could not convert string to float: 'Technicien'